# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies (Самое важное - папка с библиотеками)
node_modules
.pnp
.pnp.js

# Build (Папка сборки)
dist
dist-ssr
*.local

# Editor directories and files (Мусор от редакторов и Mac)
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Environment Variables (КРИТИЧЕСКИ ВАЖНО для Supabase)
.env
.env.*
!.env.example